################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkshoManager/.vs/WorkshoManager/FileContentIndex/0f6aa21e-c5ef-4cdf-8b8c-1c0121e77d91.vsidx
