################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkshoManager/.vs/WorkshoManager/FileContentIndex/0f6aa21e-c5ef-4cdf-8b8c-1c0121e77d91.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/446c1226-3913-47ff-9a4d-71405e5a6d7c.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/463ccad6-c700-4a33-abaf-32d2331b2b06.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/9db7b528-cdee-4cbd-86ca-01ea10ad2e14.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/bbbe91bc-528b-46ea-a186-879fc815ecdc.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/5573197c-a131-4168-958d-464ee4f1f0d8.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/64de3e73-5e41-4f0e-8849-708ef2a1b6e1.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/958de320-a976-4529-8628-4e474eabcedd.vsidx
/WorkshoManager/.vs/WorkshoManager/FileContentIndex/a2c89689-cac2-4795-9c64-494699dd7209.vsidx
