################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkshoManager/.vs/WorkshoManager/FileContentIndex/64f761dd-6652-48d0-ad87-c135d18280f1.vsidx
